<a routerLink="/sitter/{{sitter.id}}">
  <img src="assets/images/defaultAvatar.png" onerror="this.onerror=null; this.src='http://192.168.1.210:8080/user/{{sitter.id}}/image'" alt="KiVi'sPic" class="company_logo">
  <div class="position">
    <h2>{{sitter.userName}}</h2>
    <div class="company">
      <span><i>{{sitter.intro}}</i></span>
    </div>
  </div>
  <div class="location">
    <i class="fa fa-map-marker"></i>
    <span>{{sitter.postalCode}}, {{sitter.city}}</span>
  </div>
  <ul class="meta">
    <li class="date">
      Értékelés
      <span class="fa fa-star"></span>
      <span class="fa fa-star"></span>
      <span class="fa fa-star"></span>
      <span class="fa fa-star"></span>
      <span class="fa fa-star"></span>
    </li>
  </ul>
</a>
