<div class="container-fluid">
  <div class="row open" routerLink="/sitter/{{sitter.id}}">
    <div class="sitterPic col-sm-2 text-center">
      <img src="{{imgUrl}}" alt="KiVi'sPic" class="company_logo">
    </div>
    <div class="position col-md-5 col-sm-3">
      <h3>{{sitter.userName}}</h3>
      <div class="details">
        {{ (sitter.intro.length > 140) ? (sitter.intro | slice : 0 : 140) + '...' : (sitter.intro) }}
      </div>
    </div>
    <div class="location col-sm-2">
      <i class="fa fa-map-marker"></i>
      <span>{{sitter.postalCode}}, {{sitter.city}}</span>
    </div>
    <div class="meta col-sm-3 text-center">
      <div class="ratings">
        <h6>Értékelés:</h6>
        <span *ngFor="let star of ratingFullStars" class="fa fa-star"></span>
        <span *ngFor="let star of ratingHalfStars" class="fa fa-star-half-o"></span>
        <span *ngFor="let star of ratingEmptyStars" class="fa fa-star-o"></span>
        <br>
        <span class="number-of-ratings">({{ sitter.numberOfRatings }} értékelés alapján)</span>
      </div>
    </div>
  </div>
</div>
