@import '../../../variables.scss';

header {
    transition: 0.4s;
}

h4.userLoginName {
    margin-top: 2rem;
    span {
        font-weight: bold;
        color: $kiviGreen;
    }
    i {
        color: $kiviGreen;
    }
}

.header-flex {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.logo {
    height: 192px;
    transition: 0.4s;

    img {
        height: 120px;
        transition: 0.4s;
        position: relative;
        top: 0;
        opacity: 1;
    }
}

.my-head-info {
    z-index: 2;
    position: relative;
    top: -20px;
    transition: 0.4s;
    a {
        margin-left: 1rem;
        cursor: pointer;
    }
    @media (min-width: 592px) {
        top: 39px;
    }
}

header.scrolled {    
    // position: fixed;
    // top: 0;
    // width: 100%;
    // box-shadow: 0 0 5px rgba(0,0,0,0.6);
    // .logo {
    //     padding: 0;
    //     height: 0;

    //     img {
    //         top: -120px;
    //         opacity: 0;
    //     }
    // }
    .my-head-info {
        padding: 0;
        height: 3px;
        top: -100px;
        @media (min-width: 592px) {
            position: fixed;
            top: 9px;
            left: calc(100vw - 32%);
        }
        h4.userLoginName {
            display: none;
        }
    }
}