<div class="container">
	<section class="section">
		<div class="row">
			<div class="col-md-6" data-animation="fadeInLeft" data-animation-delay="0">
				<div class="img-box ">
					<img src="assets/images/img1.png" alt="">
				</div>
			</div>
			<div class="col-md-6">
				<h2>Kisállat tulajdonosoknak</h2>
				<div class="icon-box circled icon-box-animated" data-animation="fadeInLeft" data-animation-delay="0">
					<div class="icon">
						<i class="entypo search"></i>
					</div>
					<div class="icon-box-body">
						<h4>Találd meg a tökéletes KiVit</h4>
						Ahhoz, hogy megtaláld a számodra legtökéletesebbet, keresőnkben tudsz szűrni Név, Irányítószám,
						és megőrzendő kedvenced fajtája szerint.
					</div>
				</div>

				<div class="icon-box circled icon-box-animated" data-animation="fadeInLeft" data-animation-delay="200">
					<div class="icon">
						<i class="entypo vcard"></i>
					</div>
					<div class="icon-box-body">
						<h4>Kapcsolat a KiVivel</h4>
						Ha sikerült kiválasztanod a megfelelő KiVit, a profilján egyszerüen fel tudod venni a
						kapcsolatot vele.
					</div>
				</div>

				<div class="icon-box circled icon-box-animated" data-animation="fadeInLeft" data-animation-delay="400">
					<div class="icon">
						<i class="entypo check"></i>
					</div>
					<div class="icon-box-body">
						<h4>Bizalmi KiVi </h4>
						<p>Ha meg voltál elégedve a KiVi szolgálataival, el tudod menteni a kedvencek közé, hogy
							legközelebb könnyebben meg tudjad találni.</p>
					</div>
				</div>


				<button type="submit" class="btn btn-primary" routerLink="/sitter/search">KiVit keresek</button>
			</div>
		</div>

		<hr class="lg">

		<div class="row container">
			<div class="col-md-6 col-md-push-6" data-animation="fadeInRight" data-animation-delay="0">
				<div class="img-box">
					<img src="assets/images/img2.png" alt="">
				</div>
			</div>
			<div class="col-md-6 col-md-pull-6">
				<h2>Kisállat vigyázóknak</h2>
				<div class="icon-box circled icon-box-animated" data-animation="fadeInRight" data-animation-delay="0">
					<div class="icon">
						<i class="entypo pencil"></i>
					</div>
					<div class="icon-box-body">
						<h4>Készíts ingyenes pfofilt</h4>
						Ahhoz, hogy a legkönnyebben megtaláljanak, készítened egy profilt, ahol tudsz egy rövid
						bemutatkozást írni, képet tudsz feltölteni, és meg tudod adni azokat az irányítószámokat, ahol
						munkát tudsz vállalni.
					</div>
				</div>

				<div class="icon-box circled icon-box-animated" data-animation="fadeInRight" data-animation-delay="200">
					<div class="icon">
						<i class="entypo calendar"></i>
					</div>
					<div class="icon-box-body">
						<h4>Töltsd fel a naptáradat</h4>
						A profilod szerkesztésénál, egy naptár segítségével könnyen meg tudod adni milyen időpontokon
						tudsz munkát vállalni.
					</div>
				</div>

				<div class="icon-box circled icon-box-animated" data-animation="fadeInRight" data-animation-delay="400">
					<div class="icon">
						<i class="entypo star"></i>
					</div>
					<div class="icon-box-body">
						<h4>Válj Szuper KiVivé</h4>
						<p>Légy Te a környéked legkeresettebb kisállat vigyázója! .</p>
					</div>
				</div>

				<button type="submit" class="btn btn-primary" routerLink="/wannabe-sitter-page">KiVi lennék</button>

			</div>
		</div>

	</section>
</div>
<!-- Section / End -->


<!-- Light Section -->
<div class="container">
	<section class="section-light">
		<div class="title-bordered" data-animation="fadeInUp" data-animation-delay="0">
			<h2>Miért válassz minket? <small></small></h2>
		</div>
		<div class="row container">
			<div class="col-md-3" data-animation="fadeInDown" data-animation-delay="0">
				<div class="icon-box filled centered lg circled icon-box-animated-inverse">
					<div class="icon">
						<i class="entypo chat"></i>
					</div>
					<div class="icon-box-body">
						<h3>Kivi a kedvencedhez szabva</h3>
						<p>Nyugodtan elmehetsz nyaralni, ki vehetsz szabadságot, úgy hogy ne kelljen foglalkoznod azzal,
							hogy kedvenceddel mi lesz addig. Akár pár kattitással megtalálhatod azt a KiVit aki
							felválallja tőled ezt a feladatot.</p>
					</div>
				</div>
			</div>
			<div class="col-md-3" data-animation="fadeInDown" data-animation-delay="200">
				<div class="icon-box filled centered lg circled icon-box-animated-inverse">
					<div class="icon">
						<i class="entypo heart"></i>
					</div>
					<div class="icon-box-body">
						<h3>Könnyű felhasználói felület</h3>
						<p>Ahhoz, hogy megtaláld a KiVidet regisztráció után azonnal fel tudod venni a vigyázóval a
							kapcsolatot, és meg tudod beszélni vele a részleteket. Illetve ha KiVi szeretnél lenni, egy
							gyors regisztráció után mát tudsz munkákat vállalni.</p>
					</div>
				</div>
			</div>
			<div class="col-md-3" data-animation="fadeInDown" data-animation-delay="400">
				<div class="icon-box filled centered lg circled icon-box-animated-inverse">
					<div class="icon">
						<i class="entypo light-bulb"></i>
					</div>
					<div class="icon-box-body">
						<h3>Tippek</h3>
						<p>Honlapunkon tippeket és trükköket talász ahhoz, hogy eredményesbb Kivi legyél.</p>
					</div>
				</div>
			</div>
			<div class="col-md-3">
				<div class="icon-box filled centered lg circled icon-box-animated-inverse" data-animation="fadeInDown"
					data-animation-delay="600">
					<div class="icon">
						<i class="entypo thumbs-up"></i>
					</div>
					<div class="icon-box-body">
						<h3>Választási lehetőségek</h3>
						<p>Lehetőséged van regisztráció után, hogy kisállat vigyázó legyél, kisállat vigyázót keress,
							illetve ha csak simán csak keresgélnél arra is van lehetősé.</p>
					</div>
				</div>
			</div>
		</div>
	</section>
</div>