<div class="container">
    <div class="title-bordered" data-animation="fadeInUp" data-animation-delay="0">
        <h2>Mit kaphatsz, ha KiVivé válsz?</h2>
    </div>
    <div class="row">
        <div class="col-md-3">
            <div class="icon-box centered lg circled icon-box-animated">
                <div class="icon">
                    <i class="entypo heart"></i>
                </div>
                <div class="icon-box-body">
                    <h3>Szeretetet</h3>
                    <p>Kiszakadhatsz a szürke hétköznapokból és idődet hálás, cuki állatkákkal töltheted, miközben ezzel komoly segítséget is nyújtasz valakinek.</p>
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="icon-box centered lg circled icon-box-animated">
                <div class="icon">
                    <i class="entypo add-user"></i>
                </div>
                <div class="icon-box-body">
                    <h3>Új barátokat</h3>
                    <p>Akár a kis négylábúakban, akár gazdáikban új barátokra és ismerősökre tehetsz szert, bővítheted privát, de akár szakmai hálódat is.</p>
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="icon-box centered lg circled icon-box-animated">
                <div class="icon">
                    <i class="entypo thumbs-up"></i>
                </div>
                <div class="icon-box-body">
                    <h3>Bizalmat</h3>
                    <p>Elhiheted, aki többször is gondjaidra bízza kis kedvencét, nyilvánvalóan megbízik benned, és egy ilyen kapcsolat az élet más területein is jól jöhet.</p>
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="icon-box centered lg circled icon-box-animated">
                <div class="icon">
                    <i class="entypo trophy"></i>
                </div>
                <div class="icon-box-body">
                    <h3>Pénzt</h3>
                    <p>Nem utolsó sorban, mind tudjuk, hogy manapság semmi nincs ingyen, így te is bátran kérhetsz honoráriumot megbízóidtól.</p>
                </div>
            </div>
        </div>
    </div>

    <div class="spacer-xl"></div>

    <div class="row">
        <div class="col-md-6 col-md-push-6" data-animation="fadeInRight" data-animation-delay="0">
            <div class="img-box">
                <img src="assets/images/img2.png" alt="">
            </div>
        </div>
        <div class="col-md-6 col-md-pull-6">
            <h2>Mit kell tenned ezért?</h2>
            <div class="icon-box circled icon-box-animated" data-animation="fadeInRight" data-animation-delay="0">
                <div class="icon">
                    <i class="entypo pencil"></i>
                </div>
                <div class="icon-box-body">
                    <h4>Készíts ingyenes pfofilt</h4>
                    Ahhoz, hogy a legkönnyebben megtaláljanak, készítened egy profilt, ahol tudsz egy rövid bemutatkozást
                    írni, képet tudsz feltölteni, és meg tudod adni azokat az irányítószámokat, ahol munkát tudsz vállalni.
                </div>
            </div>
    
            <div class="icon-box circled icon-box-animated" data-animation="fadeInRight" data-animation-delay="200">
                <div class="icon">
                    <i class="entypo calendar"></i>
                </div>
                <div class="icon-box-body">
                    <h4>Töltsd fel a naptáradat</h4>
                    A profilod szerkesztésénál, egy naptár segítségével könnyen meg tudod adni milyen időpontokon tudsz
                    munkát vállalni.
                </div>
            </div>
    
            <div class="icon-box circled icon-box-animated" data-animation="fadeInRight" data-animation-delay="400">
                <div class="icon">
                    <i class="entypo star"></i>
                </div>
                <div class="icon-box-body">
                    <h4>Válj Szuper KiVivé</h4>
                    <p>Légy Te a környéked legkeresettebb kisállat vigyázója! .</p>
                </div>
            </div>
    
            <div class="text-center">
                <button 
                    class="btn btn-primary" 
                    routerLink="/registration-page"
                    *ngIf="!userLoggedIn">
                    <i class="fa fa-user-plus"></i>
                    Regisztrálok
                </button>
                <button 
                    class="btn btn-success" 
                    routerLink="/my-profile-page"
                    *ngIf="userLoggedIn">
                    <i class="fa fa-user"></i>
                    Kitöltöm a profilom
                </button>
            </div>
    
        </div>
    </div>

    <div class="spacer-xl"></div>

    <section class="section section-nomargin">
        <h2 class="text-center">Mit mond a többi KiVi?</h2>
        <div class="spacer-xl"></div>
        <div class="row">
            <div class="col-md-6" data-animation="fadeInLeft" data-animation-delay="0">
                <div class="testimonial">
                    <blockquote>
                        <p>Életem egyik legjobb döntése volt. A munkámnak hála rengeteg szabadidőm van, és azt szeretem édes kis kutyusok és doromboló cicák társaságában eltölteni. Ha mindezzel még segíthetek is valakinek? Mi lehet ennél jobb? </p>
                    </blockquote>
                    <div class="bq-author">
                        <figure class="author-img">
                            <img src="/assets/images/testi-img1.png" alt="">
                        </figure>
                        <h6>Kovács Marci</h6>
                        <span class="bq-author-info">Kutyák és macskák</span>
                    </div>
                </div>
            </div>
            <div class="col-md-6" data-animation="fadeInRight" data-animation-delay="0">
                <div class="spacer-lg visible-sm visible-xs"></div>
                <div class="testimonial">
                    <blockquote>
                        <p>Szívesen vigyázok cicákra vagy viszek le sétálni kisebb-nagyobb kutyákat, de a szívem csücskei mégis mindig a kis csúszómászók lesznek. Kedvencem Móricka, a kaméleon, aki visszatérő vendég, és gazdijával mára már barátok is lettünk. </p>
                    </blockquote>
                    <div class="bq-author">
                        <figure class="author-img">
                            <img src="/assets/images/testi-img2.png" alt="">
                        </figure>
                        <h6>Kiss Cintia</h6>
                        <span class="bq-author-info">Bármi, de főleg hüllők</span>
                    </div>
                </div>
            </div>
        </div>
        <div class="spacer-xl"></div>
        <div class="row">
            <div class="col-xs-4 col-xs-offset-4">
                <div class="icon-box centered lg circled icon-box-animated">
                    <h1>Belevágnál?</h1>
                    <div class="icon">
                        <i class="entypo heart"></i>
                    </div>
                    <div class="text-center">
                        <button class="btn btn-primary" routerLink="/registration-page" *ngIf="!userLoggedIn">
                            <i class="fa fa-user-plus"></i>
                            Regisztrálok
                        </button>
                        <button class="btn btn-success" routerLink="/my-profile-page" *ngIf="userLoggedIn">
                            <i class="fa fa-user"></i>
                            Kitöltöm a profilom
                        </button>
                    </div>
                </div>
            </div>

        </div>
    </section>
</div>