<section class="page-content">
	<div class="container">

		<div class="row">
			<div class="content col-md-8">

				<div class="job-profile-info">
					<div class="row">
						<div class="col-md-5">
							<figure class="alignnone">
								<img src="assets/images/img1.png" alt="">
							</figure>
						</div>
						<div class="col-md-7">
							<h2 class="name">Lameka Reeves</h2>
							<i class="tagline">Please write a few words about your job/service</i>
							<ul class="meta">
								<li>Dog Walker</li>
								<li>Pet Sitter</li>
							</ul>
							<ul class="info">
								<li><i class="fa fa-map-marker"></i> Looking within 20 miles of <a href="job-profile.html#">London, UK</a></li>
								<li><i class="fa fa-clock-o"></i> Updated 4 minutes ago.</li>
							</ul>

							<div class="spacer-lg"></div>

							<a href="job-profile.html#" class="btn btn-success btn-lg"><span class="fa fa-envelope"></span> Send Message</a>
						</div>
					</div>

					<div class="spacer-lg"></div>

					<h4>Description</h4>
					<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent eu nisi ac mi malesuada vestibulum. Phasellus tempor nunc eleifend cursus molestie. Mauris lectus arcu, pellentesque at sodales sit amet, condimentum id nunc.</p>

					<p>Donec ornare mattis suscipit. Praesent fermentum accumsan vulputate. Sed velit nulla, sagittis non erat id, dictum vestibulum ligula. Maecenas sed enim sem. Etiam scelerisque gravida purus nec interdum. Phasellus venenatis ligula in faucibus consequat. Aliquam dictum nulla eu varius porta. Maecenas congue dui id posuere fermentum. Morbi at iaculis nibh, at semper augue</p>

					<hr class="lg">

					<h4>Location</h4>
					<!-- Google Map -->
					<div class="googlemap-wrapper">
						<div id="map_canvas" class="map-canvas"></div>
					</div>
					<!-- Google Map / End -->

					<hr class="lg">

					<div class="row">
						<div class="col-sm-4 col-md-4">
							<h4>Skills</h4>
							<div class="list list__arrow2">
								<ul>
									<li>Dog Walking</li>
									<li>Pet Feeding</li>
									<li>Pet Sitting</li>
									<li>Boarding</li>
									<li>Overnight Care</li>
								</ul>
							</div>
						</div>
						<div class="col-sm-4 col-md-4">
							<h4>Experience</h4>
							<div class="list list__arrow2">
								<ul>
									<li>Dogs</li>
									<li>Cats</li>
									<li>Fish</li>
									<li>Lizards/Reptiles</li>
									<li>Small Mammals</li>
								</ul>
							</div>
						</div>
						<div class="col-sm-4 col-md-4">
							<h4>Education</h4>
							<div class="list list__arrow2">
								<ul>
									<li>
										University of California, Berkeley<br>
										<span class="date text-muted"><i class="fa fa-calendar"></i> Jan 2009 - Mar 2010</span>
										<div class="position">Bachelor degree</div>
									</li>
								</ul>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>
