<section class="page-content">
	<div class="container">

		<div class="row">
			<div class="content col-md-8">

				<div class="job-profile-info">
					<div class="row">
						<div class="col-md-5">
							<figure class="alignnone">
								<img src="http://lorempixel.com/200/200/people/9/" class="avatar img-circle img-thumbnail" alt="avatar" alt="">
							</figure>
						</div>
						<div class="col-md-7">
							<h2 class="name">Név</h2>
							<i class="tagline"></i>
							<ul class="meta">
								<li>Házhoz megyek</li>
								<li>Saját otthonomban fogadom</li>
							</ul>


							<div class="spacer-lg"></div>

							<a href="job-profile.html#" class="btn btn-success btn-lg"><span class="fa fa-envelope"></span> Üzenet Küldése</a>
						</div>
					</div>

					<div class="spacer-lg"></div>

					<h4>Bemutatkozás</h4>
					<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent eu nisi ac mi malesuada vestibulum. Phasellus tempor nunc eleifend cursus molestie. Mauris lectus arcu, pellentesque at sodales sit amet, condimentum id nunc.</p>

					<p>Donec ornare mattis suscipit. Praesent fermentum accumsan vulputate. Sed velit nulla, sagittis non erat id, dictum vestibulum ligula. Maecenas sed enim sem. Etiam scelerisque gravida purus nec interdum. Phasellus venenatis ligula in faucibus consequat. Aliquam dictum nulla eu varius porta. Maecenas congue dui id posuere fermentum. Morbi at iaculis nibh, at semper augue</p>

					<hr class="lg">

					<h4>Helyszín</h4>
					<!-- Google Map -->
					<div class="googlemap-wrapper">
						<div id="map_canvas" class="map-canvas"></div>
					</div>
					<!-- Google Map / End -->

					<hr class="lg">

					<div class="row">

						<div class="col-sm-4 col-md-4">
							<h4>Milyen állattal vállalod ezt a szolgáltatást</h4>
							<div class="list list__arrow2">
								<ul>
									<li>Kutya</li>
									<li>Macska</li>
									<li>Madár</li>
									<li>Rágcsáló</li>
									<li>Hüllő</li>
								</ul>
							</div>
						</div>
						<div class="col-sm-4 col-md-4">
							<h4>Órabér</h4>
							<div class="list list__arrow2">
								<ul>
									<li>0</li>
								</ul>
							</div>
						</div>
						<a href="job-profile.html#" class="btn btn-success btn-lg"><span class="fa fa-envelope"></span> Üzenet Küldése</a>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>
