<!--
<div action="action_page.php" style="border:1px solid #ccc">
-->
  <div class="container">
    <h1 class="page-header">Profil adatok</h1>
    <div class="row">
      <!-- left column -->
      <div class="col-md-3 col-sm-6 col-xs-12">
        <div class="text-center" id="img-photo">
      <!--   <img src="http://lorempixel.com/200/200/people/9/" class="avatar img-circle img-thumbnail" alt="avatar"> -->
          <img src="http://192.168.1.209:8080/user/{{user.userId}}/image" class="avatar img-circle img-thumbnail" alt="avatar">
          <h6>Új profilkép feltöltése</h6>
          <input type="file" (change)="onFileSelected($event)" class="text-center center-block well well-sm" class="form-control" #fileInput>
        <!--  <input class="btn btn-success" (click)="fileInput.click()" value="Válassz képet"> -->
          <button class="btn btn-success"  type="button" (click)="onUpload()">Kiválasztott kép feltöltése</button>
        </div>
      </div>

      <div class="modal-body">
        <div class="alert alert-danger" role="alert" *ngIf="showNetworkAlert">
          A változtatások mentése nem sikerült, próbáld újra!
        </div>
      </div>
      <!-- edit form column -->
      <div class="col-md-8 col-md-offset-1 col-sm-6 col-xs-12 personal-info">

        <div class="form-horizontal" role="form">
          <h3>Személyes adataid</h3>
          <div class="form-group">
            <label class="col-lg-3 control-label"><b>Név:</b></label>
            <div class="col-lg-8">
              <input type="text" placeholder="Név" name="username" [(ngModel)]="user.name" [ngClass]="{'is-invalid': validator.validateName(user.name)}" class="form-control" required>
            </div>
          </div>
          <div class="form-group">
            <label class="col-lg-3 control-label"><b>E-mail cím:</b></label>
            <div class="col-lg-8">
              <input type="text" placeholder="Emailcím" name="email" id="email" [(ngModel)]="user.email" [ngClass]="{'is-invalid': validator.validateEmailInComponent(isEmailValid, user.email)}" class="form-control" required>
              <div class="invalid-feedback"
                  *ngIf="validator.validateEmailInComponent(isEmailValid, user.email)">Kérlek, valós e-mail címet adj meg!
              </div>
            </div>
          </div>
          <div class="form-group">
            <label class="col-lg-3 control-label"><b>Új jelszó megadása:</b></label>
            <div class="col-lg-8">
              <input type="password" name="pass" placeholder="Új jelszó megadása" id="psw" [(ngModel)]="user.password"
              [ngClass]="{'is-invalid': !isPasswordValid}" class="form-control" required>
            </div>
            <div class="invalid-feedback" *ngIf="!isPasswordValid">
                Kérlek, add meg a jelszavad!
            </div>
          </div>
          <div class="form-group">
            <label class="col-lg-3 control-label"><b>Új jelszó megerősítése:</b></label>
            <div class="col-lg-8">
              <input type="password" name="pass-again" placeholder="Új jelszó megerősítése" id="psw-repeat" class="form-control" required>
            </div>
          </div>

          <div>
            <button class="btn btn-warning btn-sm" (click)="addPetOpen = !addPetOpen">Kisállat hozzáadása<i class="fa fa-caret-down"></i></button>
            <div *ngIf="addPetOpen" [@dropdownForm] class="dropdown-form">
                <div class="form-group">
                  <label  for="myPetType" class="col-lg-3 control-label"><b>Kisállatod fajtája:</b></label>
                  <div class="col-lg-8">
                    <select id="myPetType" [(ngModel)]="currentPetType" name="myPetType" class="form-control">
                        <option *ngFor="let type of petTypes" [value]="type.key">{{type.value}}</option>
                    </select>
                    </div>
                </div>
                <div class="form-group">
                  <label for="petsname" class="col-lg-3 control-label"><b>Kisállatod neve:</b></label>
                  <div class="col-lg-8">
                    <input type="text" [(ngModel)]="currentPetName" placeholder="Kisállatom nevének megadása" name="petsname"
                      class="form-control">
                      <input class="btn btn-success" (click)="addToMyPets()" value="Kisállat hozzáadása">
                  </div>
                </div>
            </div>
          </div>

          <div *ngIf="showOwnerData()">
            <h3>Kisállataid</h3>
            <div class="form-group">
                <div class="col-lg-8">
                    <div *ngIf=user.ownerData.pets.length>
                      <ul>
                        <li *ngFor="let pet of user.ownerData.pets">
                          <b>{{ pet.petName }}</b> : {{ pet.petType }}
                        </li>
                      </ul>
                    </div>
                  </div>
              </div>
          </div>


        <div *ngIf="showSitterData()">
          <div class="form-group">
            <label class="col-lg-3 control-label"><b>Irányítószám:</b></label>
            <div class="col-lg-8">
              <input type="text" name="zipcode" placeholder="Irányítószám megadása" id="postalCode" [(ngModel)]="user.sitterData.postalCode" [ngClass]="{'is-invalid': validator.validatePostcodeInComponent(isPostcodeValid, user.sitterData.postcode)}" class="form-control">
            </div>
            <div class="invalid-feedback"
                *ngIf="validator.validatePostcodeInComponent(isPostcodeValid, user.sitterData.postcode)">
                Kérlek, valós irányítószámot adj meg!
            </div>
          </div>
          <div class="form-group">
            <label class="col-lg-3 control-label"><b>Város:</b></label>
            <div class="col-lg-8">
              <input type="text" name="city" placeholder="Város megadása" id="city" [(ngModel)]="user.sitterData.city" class="form-control" required>
            </div>
          </div>
          <div class="form-group">
            <label class="col-lg-3 control-label"><b>Utca:</b></label>
            <div class="col-lg-8">
              <input type="text" name="street" placeholder="Utca megadása" id="address" [(ngModel)]="user.sitterData.address" class="form-control" required>
            </div>
          </div>
          <div  class="form-group">
            <label class="col-lg-3 control-label"><b>Bemutatkozó szöveg:</b></label>
            <div class="col-lg-8">
              <input type="text" name="intro" placeholder="Bemutatkozó szöveg megadása" id="intro" [(ngModel)]="user.sitterData.intro"  class="form-control" required>
            </div>
          </div>
          <hr>
          <div class="form-group">
            <h3>Vállalt szolgáltatások</h3>
            <div *ngIf= user.sitterData.services.length>
              <ul>
                  <li *ngFor="let service of user.sitterData.services">
                      <b>{{ service.place }}</b> : {{ service.petType }}, {{ service.pricePerHour }} Ft /óra
                  </li>
              </ul>
            </div>
          </div>
        <div  class="form-group">
          <button class="btn btn-warning btn-sm" (click)="addServiceOpen = !addServiceOpen">Szolgáltatás hozzáadása<i class="fa fa-caret-down"></i></button>
          <div *ngIf="addServiceOpen" [@dropdownForm] class="dropdown-form">
            <div class="form-group">
              <label for="servicePlace" class="col-lg-3 control-label"><b>Szolgáltatás nyújtásának helye:</b></label>
              <div class="col-lg-8">
                <select [(ngModel)]="currentPlaceOfService" name="servicePlace" class="form-control">
              <!--  <option value="OWNERS_HOME">Házhoz megyek</option>
                <option value="SITTERS_HOME">Saját otthonomban fogadom</option> -->
                  <option *ngFor="let place of servicePlaces" [value]="place.key">{{place.value}}</option>
                </select>
              </div>
            </div>
            <div class="form-group">
              <label  for="servicePetType" class="col-lg-3 control-label"><b>Milyen állattal vállalod ezt a szolgáltatást:</b></label>
              <div class="col-lg-8">
                <select id="myPetType" [(ngModel)]="currentServicePetType" name="myPetType" class="form-control">

                  <option *ngFor="let type of petTypes" [value]="type.key">{{type.value}}</option>
                </select>

              </div>
            </div>
            <div class="form-group">
              <label class="col-lg-3 control-label"><b>Órabér:</b></label>
              <div class="col-lg-8">
                <input type="text" [(ngModel)]="currentWage" placeholder="Órabér megadása" name="pricePerHour" class="form-control">
        <!--    <input type="text" name="wage" placeholder="Órabér megadása" id="pricePerHour"[(ngModel)]="user.sitterData.wage" class="form-control" required> -->
                <input class="btn btn-success"  type="button" (click)="addToMyServices()" value="Szolgáltatás hozzáadása">
              </div>
            </div>
          </div>
        </div>
      </div>


          <div class="form-group">
            <label class="col-lg-3 control-label"></label>
            <div class="col-lg-8 final-button-box">
                <button class="btn btn-primary" (click)="save()"type="button" name="button">Változtatások mentése</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
