* {box-sizing: border-box}

/* Full-width input fields */
  input[type=text], input[type=password] {
  width: 100%;
  padding: 15px;
  margin: 5px 0 22px 0;
  display: inline-block;
  border: none;
  background: #ffffff;

}



hr {
  border: 1px solid #f1f1f1;
  margin-bottom: 25px;
}

/* Set a style for all buttons */
/*
button {
  background-color: #4CAF50;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 100%;
  opacity: 0.9;
}

button:hover {
  opacity:1;
}
*/

/* Extra styles for the cancel button */
.cancelbtn {
  padding: 14px 20px;
  background-color: #f44336;
}

/* Float cancel and signup buttons and add an equal width */
.cancelbtn, .signupbtn {
  float: left;
  width: 50%;
}

/* Add padding to container elements */
.container {
  padding: 16px;
}

/* Clear floats */
.clearfix::after {
  content: "";
  clear: both;
  display: table;
}


/* Change styles for cancel button and signup button on extra small screens */
@media screen and (max-width: 300px) {
  .cancelbtn, .signupbtn {
    width: 100%;
  }
}/* Style inputs */
  input[type=text], select {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}




div#img.text-center {
  margin-top: 30px;
  margin-left: 50px;
}

h6 {
  margin-top: 20px;
}

h3{
}

.final-button-box {
  margin-top: 4rem;
}

button {

}

button i {
  margin-left: 1rem;
}

input#email {
  background-color: rgb(230,230,230);
}

button#pet-data-button {
  margin-bottom: 15px;
}

button#kivi-data {
  margin-bottom: 15px;
}

button#profile-img-upload {

}

input#add-pet, input#add-service{
  margin-top: 10px;
}

.map-legend {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: -2rem;
    span {
        display: inline-block;
        position: relative;
        top: 5px;
        width: 40px;
        height: 20px;
        margin-right: 1rem;
    }
    span.legend-green {
        background-color: #A6CE39;
    }
    span.legend-orange  {
        background-color: #FFB71B;
    }
    span.legend-red {
        background-color: #DC2A0A;
    }
}

.dropdown-form {
  transform-origin: top center;
}

button#delete-button {
  margin-left: 8px
}

button#save-button {
  margin-bottom: 30px
}

.spinner-wrapper {
    width: 100%;
    min-height: 500px;
    padding: 5rem;
    position: relative;
    .spinner-box {
        position: absolute;
        left: -40px;
        top: -110px;
        margin: 0 auto;
        width: 280px;
        padding: 2rem;
        text-align: center;
        background-color: #fff;
        box-shadow: 2px 2px 4px rgba(0,0,0,0.2);
        p {
            font-size: 1.8rem;
        }
    }
}

.alert {
  position: relative;
  left: -110px;
}
