* {box-sizing: border-box}

.container {
  margin: 5rem auto 8rem;
}

input, select {
  margin-bottom: 1rem;
}

.btn-warning {
  margin-bottom: 2rem;
}

.btn-info {
  margin-right: 1rem;
}

.final-button-box {
  margin-top: 5rem;
}

button i {
  margin-left: 1rem;
}
