/* You can add global styles to this file, and also import other style files */
@import "assets/template/css/bootstrap.min";
@import "assets/template/css/fonts/font-awesome/css/font-awesome";
@import "assets/template/css/fonts/entypo/css/entypo";
@import "assets/template/vendor/job-manager/frontend.css";
@import "assets/template/css/theme";
@import "assets/template/css/theme-elements";
@import "assets/template/css/animate.min";

.is-invalid {
    border: 1px solid red;
    box-shadow: 0 0 3px red;
}
.invalid-feedback {
    color: red;
    font-size: 1.2rem;
}